@font-face {
    font-family: Rubikbold;
    src: url(Rubik/Rubik-Bold.ttf);
}
@font-face {
    font-family: Rubiboldi;
    src: url(Rubik/Rubik-BoldItalic.ttf);
}
@font-face {
    font-family: Rubikli;
    src: url(Rubik/Rubik-Light.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(Rubik/Rubik-Regular.ttf);
}
table {
  width: 600px;
  font-size: 16px;
}

.index {
  background-image: url("images/dog.png") no-repeat center fixed;
  background-size: cover;
}

p{
  font-family: Rubik;
  color: white;
  padding-left: 7%;
}
.fecha {
  font-family: Rubikbold;
  font-size: 1.7em;
   margin-top: 0.01em;
}
.rubiklight {
  font-family: Rubikli;
  color: white;
  font-size: 0.95em;
  margin-bottom: 5%;
}

h3{
  font-family: Rubiboldi;
  color: blue;
  padding-left: 7%;
  font-size: 2em;
  color:#2b72b6;
  margin-top: 0px;
}
h1{
  color:white;
  font-family: Rubiboldi;
  font-size: 2.4em;

}
.pagina {
  border:3px solid white;
  background-color: white;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding: 0.5em;
  color: #4CAF50;
  font-family: Rubikbold;
  text-decoration: none;
  margin: 7%;
  font-size: 1.2em;
}

.logo {
  width: 45%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 0px;
}
ol{
  font-family: Rubik;
  font-size: 1.1em;
  margin-right: 20%
}
ol li{
    margin: 1em;
    color:#2b72b6;
}
.why_num{
  font-size: 1.1em;
  font-family: Rubikbold;
}
.why {
  background-image: url("images/familydog.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 40%;
}
.exp {
  background-image: url("images/doctor.png"), url("images/bgbloqa.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, left top;

  background-size:  auto;
-webkit-background-size: 45% , cover;
}

.exp p {
  font-size: 1.1em;
    font-family: Rubik;
}

.exp ul {
  list-style-type: square white;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.1em;
  font-family: Rubik;
}

.exp li{
  margin: 0.7em;
}

.index {
  background-image: url("images/dog.png");
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pie {
  text-align: left;
  width: 600px;
  padding-left: 0.6em;
}

.media {
  text-align: center;
}

.social {
  width: 30px;
  height: auto;
  display: inline;
  vertical-align: text-bottom;
}

.pie p{
  color: black;
  margin: 0px;
  font-family: Rubik;
  font-size: 0.9em;
}
.pie span {
  font-family: Rubikbold;
}

.corferias {
  width: 20%;
  height: auto;
  display: inline;
}
@media screen and (max-width: 600px) {
  table {
  width: auto;
  background-size: auto;
  }
  .pie {
    width: auto;
  }
  .pie tr {

  }
  .pie td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: center;
  }
  .pie td:before {
    content: attr(aria-label);
    float: left;
  }
} 